.person {
	border: 1px solid black;
	width: 128px;
	height: 109px;
	text-align: center;
	/* padding: 10px;  */
	min-width: 128px;
	background-color: #FFFFFF;
	display: inline-block;
	
}


.leftSidePerson {
	margin-left: 46px;
}

.rightSidePerson {
	margin-left: 69px;
}

.person .name {
	font-size: 14px;
	max-width: 128px;
	max-height: 109px;
	margin: auto;
	cursor: pointer;
}

/* Tree */
.tree ul {
	padding-top: 20px;
	position: relative;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.tree li {
	display: table-cell;
	text-align: center;
	list-style-type: none;
	position: relative;
	padding: 25px 0 25px 0;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/*Remove space from the top of single children*/
.tree li:only-child {
	padding-top: 0;
}

.tree li .parent {
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	margin-top: 10px;
}

.tree li .family {
	position: relative;
}

/* .tree li .family .spouse {
	position: absolute;
	top: 0;
	left: 50%;
    margin-left: 135px;
} */

.fillColor {
	background-color: #f0f6ff;
}

.clickedColor {
	background-color: #57a1d9;
}

.connector {
	margin: 0;
	padding: 0;
	content: '';
	position: absolute;
	width: 99px;
    height: 20px;
    top: 75px;
}

.verticalConnector {
	margin: 0;
	padding: 0;
	content: '';
	position: absolute;
	width: 0;
	height: 107px;
    top: -31px;
}

.bottomConnector {
	margin: 0;
	padding: 0;
	content: '';
	position: absolute;
	width: 122px;
	height: 21px;
	top: -25px;
}

.fatherLeftConnector {
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
    left: 150px;
    
}

.fatherRightConnector {
	border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
	left: 250px;
}

.fatherVerticalConnector {
	border-left: 1px solid #ccc;
	left: 248px;
}

.motherLeftConnector {
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	left: 592px;
}

.motherVerticalConnector {
	border-left: 1px solid #ccc;
	left: 690px;
}

.motherRightConnector {
	border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
	left: 692px;
}

.grandmotherLeftConnector {
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	top: -26px;
	left: 150px;
}

.grandmotherRightConnector {
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	top: -26px;
	left: 250px
}

.grandfatherLeftConnector {
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	top: -26px;
	left: 592px;
	
}

.grandfatherRightConnector {
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	top: -26px;
	left: 692px;
}

.meLeftConnector {
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	left: 350px;
}

.meVerticalConnector {
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin: 0;
	padding: 0;
	content: '';
	position: absolute;
	width: 0;
	top: -3px;
	left: 473px;
	height: 20px;
}

.meRightConnector {
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	left: 473px;
}

.myselfBlock {
    top: -27px;
    left: 125%;

}

.mySiblings {
	margin-left: 35px;
}

.meHorizontalConnector {
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin: 0;
	padding: 0;
	content: '';
	position: absolute;
	height: 0;
	width: 35px;
	top: 73px;
    left: 538px;
}