text {
font-size: 14px;
fill: #666;
cursor: pointer;
}

rect {
width: 100px;
height: 25px;
fill: #fff;
stroke: #ccc;
}

line {
stroke: #ccc;
stroke-width: 2;
}

path {
fill: none;
stroke: #ccc;
stroke-width: 2;
}

.testing {
    fill: red;
}

.clicked {
    fill: #57a1d9;
}